<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <context-param>
    <param-name>ADMINCHAT_PATH</param-name>
    <param-value>/ayseth/AdminChatServlet</param-value>
  </context-param>

  <context-param>
    <param-name>ROOMLIST_PATH</param-name>
    <param-value>/ayseth/RoomListServlet</param-value>
  </context-param>

  <context-param>
    <param-name>CHROOM_PATH</param-name>
    <param-value>/ayseth/ChRoomServlet</param-value>
  </context-param>

  <servlet>
    <servlet-name>MainChatServlet</servlet-name>
    <servlet-class>ayseth.MainChatServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AdminChatServlet</servlet-name>
    <servlet-class>ayseth.AdminChatServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ChRoomServlet</servlet-name>
    <servlet-class>ayseth.ChRoomServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RoomListServlet</servlet-name>
    <servlet-class>ayseth.RoomListServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminChatServlet</servlet-name>
    <url-pattern>/AdminChatServlet</url-pattern>
   </servlet-mapping>

<servlet-mapping>
    <servlet-name>RoomListServlet</servlet-name>
    <url-pattern>/RoomListServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>ChRoomServlet</servlet-name>
    <url-pattern>/ChRoomServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>MainChatServlet</servlet-name>
    <url-pattern>/MainChatServlet</url-pattern>
</servlet-mapping>

  
</web-app>